@import "tailwindcss";
@font-face {
    font-family: "FFXIV_Lodestone_SSF";
    src:
        url("./assets/fonts/FFXIV_Lodestone_SSF.woff") format("woff"),
        url("./assets/fonts/FFXIV_Lodestone_SSF.ttf") format("truetype"),
        url("./assets/fonts/FFXIV_Lodestone_SSF.svg#FFXIV Lodestone") format("svg");
    font-weight: var(--font-weight-normal);
    font-style: normal;
}

@theme inline {
    --color-border: var(--border);
    --color-code-bg: var(--code-bg);
    --color-warning: var(--warning);
    --color-accent: var(--accent);
    --color-accent-light: var(--accent-bg);
}

:root {
    --text: #6b6375;
    --text-h: #08060d;
    --bg: #fff;
    --border: #e5e4e7;
    --code-bg: #f4f3ec;
    --accent: #aa3bff;
    --warning: #d3a200;
    --accent-bg: rgba(170, 59, 255, 0.1);
    --accent-border: rgba(170, 59, 255, 0.5);
    --social-bg: rgba(244, 243, 236, 0.5);
    --shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

    --sans: system-ui, "Segoe UI", Roboto, FFXIV_Lodestone_SSF, sans-serif;
    --heading: system-ui, "Segoe UI", Roboto, FFXIV_Lodestone_SSF, sans-serif;
    --font-mono: ui-monospace, Consolas, FFXIV_Lodestone_SSF, monospace;

    font: 18px/145% var(--sans);
    letter-spacing: 0.18px;
    color-scheme: light dark;
    color: var(--text);
    background: var(--bg);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media (max-width: 1024px) {
        font-size: 16px;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: #9ca3af;
        --text-h: #f3f4f6;
        --bg: #16171d;
        --border: #2e303a;
        --code-bg: #1f2028;
        --accent: #c084fc;
        --warning: #d3a200;
        --accent-bg: rgba(192, 132, 252, 0.15);
        --accent-border: rgba(192, 132, 252, 0.5);
        --social-bg: rgba(47, 48, 58, 0.5);
        --shadow: rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
    }

    #social .button-icon {
        filter: invert(1) brightness(2);
    }
}

body {
    margin: 0;
}

#app {
    @apply w-5xl max-w-full mx-auto my-0 text-center min-h-svh flex flex-col box-border;
    /* border-inline: 1px solid var(--border); */
}

textarea {
    @apply font-mono text-sm;
}

#txtOutput {
    field-sizing: content;
}

#customIconsBlock {
    @apply flex flex-wrap;
}

.faux-btn {
    @apply text-xs m-0.5 border rounded-sm border-accent-light w-8 flex items-center justify-center cursor-pointer hover:bg-accent-light;
}
